<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>修改密码</title>

    <script>
        function valid_form() {
            var warning_text = document.getElementById('warning_text');
            var form = document.getElementById('form-change_password');
            password_old = form.password_old.value;
            password_new = form.password_new.value;
            password_new2 = form.password_new2.value;

            if ((password_old=='') | (password_new=='')| (password_new2=='')) {
                warning_text.innerText = '有未填写字段';
                return false;
            }

            if (password_new != password_new2) {
                warning_text.innerText = '两次密码输入不一致';
                return false;
            }
            return true;
        }
    </script>


</head>
<body>

<p style="color:red;" id="warning_text"> {{ warning_text }}</p>
<form id='form-change_password' method="post" action="/account_sharing/admin/change_password" onsubmit="return valid_form()">
    {% csrf_token %}
    <table>
        <tr>
            <td>账号登陆名:</td>
            <td>{{ admin_username }}</td>
        </tr>
        <tr>
            <td>原账号密码：</td>
            <td><input type="password" name='password_old'></td>
        </tr>
        <tr>
            <td>新账号密码：</td>
            <td><input type="password" name='password_new'></td>
        </tr>
        <tr>
            <td>确认新账号密码：</td>
            <td><input type="password" name='password_new2'></td>
        </tr>
        <tr>
            <td><input type="submit" value="提交"></td>
        </tr>
    </table>
</form>

</body>
</html>