<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update</title>
</head>
<body>
{#TODO 改为提交修改#}
<p>目前修改账号信息需要通过先删除账号再新增账号完成！</p>
<table>
{#    <tr>#}
{#        <td>账号id: </td><td>{{ aid }} </td>#}
{#    </tr>#}
    <tr>
        <td>账号登陆名: </td><td>{{ account_name }} </td>
    </tr>
    <tr>
        <td>账号原密码：</td><td>{{ account_password }}</td>
    </tr>
    <tr>
        <td>账号过期时间: </td><td>{{ account_expire_time }}</td>
    </tr>
    <tr>
        <td>账号类型: </td><td>{{ account_type }}</td>
    </tr>
</table>

</body>
</html>